<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head'); %>
</head>
<body>
	<main class="container">

		<div style="display: flex; justify-content: center; align-items: center;">
			<h1>PokerMini</h1>
		</div>	

		<div>
			<p>Pot : <%= pot %></p>
		</div>

		<div style="display: flex; justify-content: space-between; text-align: center;">
			<% for(const [index, user] of userList.entries()) { %>
				<% if (user.id === "Player") { %>
					<% if (gameTurn !== 2) {%>
						<div style="display: flex; flex-direction: column;">
							<h4>Your hand</h4>
							<article>
								<span><%=user.cardHand[0].id%> <%=user.cardHand[0].symbol%></span>
							</article>
							<article>
								<span><%=user.cardHand[1].id%> <%=user.cardHand[1].symbol%></span>
							</article>
							<p>Chips : <%= userList[0].chips %></p>
							<p>Bet : <%= userList[0].betCount %></p>
						</div>
					<% } else {%>
						<div style="display: flex; flex-direction: column;">
							<p>Chips : <%= userList[0].chips %></p>
							<p>Bet : <%= userList[0].betCount %></p>
							<h4>Your hand</h4>
							<article>
								<span><%=user.cardHand[0].id%> <%=user.cardHand[0].symbol%></span>
							</article>
							<article>
								<span><%=user.cardHand[1].id%> <%=user.cardHand[1].symbol%></span>
							</article>
							<article>
								<span><%=user.cardHand[2].id%> <%=user.cardHand[2].symbol%></span>
							</article>
							<p>Chips : <%= userList[0].chips %></p>
							<p>Bet : <%= userList[0].betCount %></p>
						</div>
					<% } %>
				<% } else { %>
					<% if (gameTurn !== 2) {%>
						<div style="display: flex; flex-direction: column;">
							<h4>Bot hand</h4>
							<article>
								<span>Card</span>
							</article>
							<article>
								<span>Card</span>
							</article>
							<p>Chips : <%= userList[1].chips %></p>
							<p>Bet : <%= userList[1].betCount %></p>
						</div>
					<% } else {%>
						<div style="display: flex; flex-direction: column;">
							<h4>Bot hand</h4>
							<article>
								<span>Card</span>
							</article>
							<article>
								<span>Card</span>
							</article>
							<article>
								<span>Card</span>
							</article>
							<p>Chips : <%= userList[1].chips %></p>
							<p>Bet : <%= userList[1].betCount %></p>
						</div>
					<% } %>
				<% } %>
			<% } %>
		</div>

		<% if (userList[0].currentTurn === false) { %>
			<p>Waiting for bot</p>
			<% setTimeout(botTurn, 1000) %>
			<meta http-equiv="refresh" content="6">
			
		<%} else { %>
			<div style="display: flex; justify-content: center; align-items: center;">
				<div class="actions">
					<form action="/game" method="post" class="row">
						<% if (userList[0].betCount === 0 && userList[1].betCount === 0) {%>
							<button type="submit" name="action" value="Check" class="col-lg-4">Check</button> <!-- Attendre -->
							<button type="submit" name="action" value="Fold" class="col-lg-4" disabled>Fold</button> <!-- Passer -->
							<button type="submit" name="action" value="Call" class="col-lg-4" disabled>Call</button> <!-- Suivre -->
							<button type="submit" name="action" value="Bet" class="col-lg-4">Bet</button> <!-- Miser -->
							<input type="number" name="betraise_value" id="betraise_value" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="col-lg-4">
						
						<%} else if (switchTurn === 2 && userList[1].betCount > userList[0].betCount && userList[0].betCount === 0) {%> 
							<button type="submit" name="action" value="Check" class="col-lg-4" disabled>Check</button> <!-- Attendre -->
							<button type="submit" name="action" value="Fold" class="col-lg-4">Fold</button> <!-- Passer -->
							<button type="submit" name="action" value="Call" class="col-lg-4">Call</button> <!-- Suivre -->
							<button type="submit" name="action" value="Raise" class="col-lg-4">Raise</button> <!-- Relancer -->
							<input type="number" name="betraise_value" id="betraise_value" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="col-lg-4">
						
						<% } else {%>
							<button type="submit" name="action" value="Check" class="col-lg-4" disabled>Check</button> <!-- Attendre -->
							<button type="submit" name="action" value="Fold" class="col-lg-4">Fold</button> <!-- Passer -->
							<button type="submit" name="action" value="Call" class="col-lg-4">Call</button> <!-- Suivre -->
							<button type="submit" name="action" value="Raise" class="col-lg-4" disabled>Raise</button> <!-- Relancer -->
							<input type="number" name="betraise_value" id="betraise_value" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="col-lg-4" disabled>
						<% } %>
					</form>
				</div>
			</div>
		<% } %>

	</main>
</body>
</html>